<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    <header class="x">
        <div class="carcas sb">
            <img src="images/logo.jpg" alt="">

            <ul class="x">
                <li><a href="home.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>

            <div class="icons x">
                <img src="images/19.jpg" alt="">
                <img src="images/20.jpg" alt="">
                <img src="images/21.jpg" alt="">
                <img src="images/22.jpg" alt="">
            </div>

        </div>
    </header>

    <div class="about fcc">

        <h3>Best selling products</h3>

        <div class="slider">

            <i class="fa-solid fa-angle-left arrow"></i>

            <div class="carcas products">

                <div class="detal fcc">
                    <img src="images/4.jpg" alt="">
                    <h4>Luxurious Elixir Rough</h4>

                    <div class="price x">
                        <span>$220.00</span>
                        <small>100ml</small>
                    </div>
                </div>

                <div class="detal fcc">
                    <img src="images/5.jpg" alt="">
                    <h4>The Golden Legacy</h4>

                    <div class="price x">
                        <span>$160.00</span>
                        <small>100ml</small>
                    </div>
                </div>

                <div class="detal fcc">
                    <img src="images/6.jpg" alt="">
                    <h4>Luxurious Elixir</h4>

                    <div class="price x">
                        <span>$250.00</span>
                        <small>100ml</small>
                    </div>
                </div>

                <div class="detal fcc">
                    <img src="images/7.jpg" alt="">
                    <h4>Luxurious Essence</h4>

                    <div class="price x">
                        <span>$260.00</span>
                        <small>100ml</small>
                    </div>
                </div>

            </div>
            <i class="fa-solid fa-angle-right arrow"></i>
        </div>
    </div>
    


</body>
</html>