<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <header class="x">
        <div class="carcas sb">
            <img src="images/logo.jpg" alt="">

            <ul class="x">
                <li><a href="home.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>

            <div class="icons x">
                <img src="images/19.jpg" alt="">
                <img src="images/20.jpg" alt="">
                <img src="images/21.jpg" alt="">
                <img src="images/22.jpg" alt="">
            </div>
        </div>
    </header>

    <div class="home x">
        <div class="carcas sb">
            <div class="info fcs">
                <h3>Elevate Your Spirit with Victory Scented Fragrances!</h3>
                <p>Shop now and embrace the sweet smell of victory <br> with Local Face.</p>
                <button>Shop Now</button>
            </div>
            <img src="images/1.jpg" alt="">
        </div>
    </div>

    




    
</body>
</html>