<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <header class="x">
        <div class="carcas sb">
            <img src="images/logo.jpg" alt="">

            <ul class="x">
                <li><a href="home.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
            
            <div class="icons x">
                <img src="images/19.jpg" alt="">
                <img src="images/20.jpg" alt="">
                <img src="images/21.jpg" alt="">
                <img src="images/22.jpg" alt="">
            </div>

        </div>
    </header>

    <div class="services fcc">
        <h3>Our Collection</h3>
        
        <div class="carcas">
            <div class="test fcs"><p>Designer Delights Collection</p></div>
            <div class="test fcs"><p>Travel Essentials Collection</p></div>
            <div class="test fcs"><p>Special Occasions Collection</p></div>
            <div class="test fcs"><p>Seasonal Sensations Collection</p></div>
            <div class="test fcs"><p>Vintage Treasures Collection</p></div>
            <div class="test fcs"><p>Limited Edition Treasures</p></div>
            <div class="test fcs"><p>Modern Classics Collection</p></div>
            <div class="test fcs">
                <h3>Perfume Year-End Sale! <br> Up to 50% OFF</h3>
                <p>Discover an exquisite collection of premium perfumes at <br> unbelievable prices during our exclusive Perfume Sale!</p>
                <button>Know More</button>
            </div>
        </div>
    </div>


    
</body>
</html>