<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <header class="x">
        <div class="carcas sb">
            <img src="images/logo.jpg" alt="">

            <ul class="x">
                <li><a href="home.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
            
            <div class="icons x">
                <img src="images/19.jpg" alt="">
                <img src="images/20.jpg" alt="">
                <img src="images/21.jpg" alt="">
                <img src="images/22.jpg" alt="">
            </div>
        </div>
    </header>
    <div class="shop fcc">
        <h3>Welcome to Local Face</h3>
        <p>Welcome to Local Face Perfumes, where the spirit of victory and triumph come alive through scents that empower and inspire. Our curated collection, aptly named "Victory Scented," is a celebration of success and elegance, designed to unleash your victorious essence. Indulge in the sweet taste of triumph with captivating fragrances that tell the tale of your achievements. At Local Face, we believe that every victory deserves a signature scent, and we are dedicated to providing unforgettable fragrances that elevate your spirit and empower your journey.</p>
    </div>

    <div class="value">
        <div class="parfiume"></div>
        <div class="info fcs">
            <h3>Our Values</h3>
            <p>At Local Face, our perfume retail store is built on a foundation of passion and authenticity. We believe in celebrating the individuality of every customer, providing a diverse collection of scents that resonate with their unique personality and style. Our dedicated team of fragrance enthusiasts is committed to creating a welcoming and inclusive environment, where connections are forged, and inspiration thrives.</p>
            <p>Embracing sustainability and continuous learning, Local Face strives to be more than just a shopping destination; we are a community that inspires and empowers individuals on their fragrance journey.</p>
        </div>
    </div>




    
</body>
</html>